strong-primary = #E85F40
primary = #9D532A
secondary = #3F88A0
dd-gray = #333
d-gray = #999
ll-gray = #f9f9f9
l-gray = #e7e7e7
m-gray = #CCC
btn-default = #377BB5
// subtleActionCall = 

body-text = dd-gray


@import 'extends.import'
@import 'mixins.import'

@import 'globals.import'

@import 'loading.import'
@import 'header.import'
@import 'form.import'
