.banner
  background primary
  p,
  i
    vAlign()
    shadow(0, .4)
  p
    margin 0
    padding 5px 0
    color lighten(primary, 90%)
    font-weight 200
    font-size 13px
    letter-spacing .01em
  i
    font-size 130%
    color pending

.demo-hidden
  padding 0
  max-height 0
  
.demo-showing
  max-height 40px
  transition(.7s)
  transition-delay .5s
  border-bottom 2px solid primary-dark
  transition-timing-function ease-in-out
