.light-shadow
  text-shadow: 0 1px 0 rgba(255,255,255,.3)

.dark-shadow
  text-shadow: 0 1px 0 rgba(0,0,0,.3)

.icon
  font-family 'Glyphicons Halflings'
  font-style normal
  font-weight normal
  padding-top 2px
  position relative
  top 2px