addFont('icons', true)

.open-sans
  font-family: 'Open Sans', sans-serif;

.icons
  font-family icons

.infoIcon
  @extend .icons
  display inline-block
  font-size 100%
  color d-gray
  margin -1px 3px 0 3px 

.font-awesome
  font-family FontAwesome