footer
  position absolute
  bottom 0
  z-index 100
  width 100%
  background header-footer-BG
  padding-top footer-padding
  height footer-height
  h1,
  h2
    margin 0
 
.footer
  width 600px
  margin 0 auto

.logo
  margin 0 15px
  p
    display inline-block
    color l-gray
    font-size 11px   

.mantle
  float left
  h1
    bg('images/mantle-logo', 130px, 32px,'png')
    centerSmall(10px)

.eha
  float right
  margin-top 8px
  h2
    bg('images/eha-logo', 220px, 54px,'png')
    centerSmall()
      
@media (max-width: 765px)
  footer
    height footer-height*2
  .footer
    width 100%
  .logo
    margin 0 auto
    text-align center
  .mantle,
  .eha
    float none
    h1,
    h2
      margin 0 auto
    h1
      margin-bottom 30px