footer
  background secondary
  padding 20px 0
  h1,
  h2
    margin 0
 
.logo
  display inline-block
  vertical-align middle
  p
    display inline-block
    color l-gray
    font-size 11px   

.mantle
  display inline-block
  h1
    bg('images/mantle-logo', 130px, 32px,'png')
    centerSmall(10px)
    opacity .9

.eha
  float right
  margin-top 5px
  h2
    bg('images/eha-logo', 220px, 54px,'png')
    centerSmall()
    transition()
    opacity .9
    &:hover
      opacity 1
      transition()
      
@media (max-width: 765px)
  .logo
    margin 0 auto
    text-align center
    margin-bottom 20px