blue = #337AB7

.report-form
	.form-input-block
		margin-bottom 50px

.minor-label
	font-size 90%
	color #999
	font-weight normal

.minor-label-block
	@extend .minor-label
	display block

.row, form-group
	margin-bottom 20px
	
h2.panel-title
	font-size 24px

h2 a.more-info
	size 12px
	color blue

.block
	display block
	
.map
	width 100%
	min-height 300px
	background lightblue
	
.no-margin-btm
	margin-bottom 0

a
	cursor pointer

textarea
	display block
	min-width 100%
	min-height 200px
	
.add-subtract
	padding 5px
	font-size 10px
	
.no-padding
	padding 0

.panel-intro
	padding 15px

.content-panel
	@extend .no-padding
	.list-group-item
		@extend .no-padding
		border-left 0
		border-right 0
		border-bottom 0
		
.content-block
	padding:15px
	
.add-content
	display block
	background blue
	border 0
	text-align center
	padding 8px
	width 100%
	color white

.tooltipped
	border-bottom: 1px #ddd dotted
	cursor pointer
