
#ranavirus-study
  display none

.study
  section
    &:first-child
      h3
        margin-top 0
  .form-group
    > label
      color #333
      font-weight 600
      font-size 15px
  .file-upload
    margin-top 10px
  .contact
    padding-top 30px

.study-name
  margin-top 20px

.study-link
  float 
  &:hover,
  &:focus
    text-decoration none
  .glyphicon
    font-size 70%

.csvUpload
  padding-bottom 20px
  
.csv-file a.btn
    display none

.csv-error
    color primary-strong

.instructions-link,
.instructions-link-icon
  color d-gray
  &:hover,
  &:focus
    text-decoration none
    outline 0
  span
    vAlign()
    &:first-child
      margin-left 5px
  span.glyphicon
    font-size 120%
    top 0
    
.instructions-link-icon
  padding 0 5px
  font-size 80%

.has-error .form-control
  border-color primary-strong
  margin-bottom 0
  
.has-error .help-block
  color primary-strong

.has-error
  label
    color primary-strong

.upload-wrap
  margin-bottom 15px

.upload-file
  vAlign()
  margin-bottom 0

.file-upload
  .btn,
  label.btn
    makeButton(secondary, white, false, true)
    font-weight normal
    width 60%

.import-table
  .reactive-table-options > div
    margin-top -30px
  table
    margin 20px 0

.publication,
.form-grp-container
  .form-group
    margin-bottom 30px
.publication
  .form-group
    float left
    width 40%
    &:last-child
      clear both
      float none
      width 75%
      margin-bottom 0
    .form-group
      width 100%