
.title
  .study-name,
  .preposition
    margin 0
    vertical-align bottom
    font-size 80%
    color secondary
    font-weight 700
  .preposition
    color d-gray       

#ranavirus-report
  display none

#ranavirus-report.obfuscated
  display block