s-blue = #E9F0F8
s-red = #FCE6E8
s-green = #E7F6F2
s-yellow = #FFF8E7
s-gray = #F5F5F5

.date-location
  .panel-body
    overflow  hidden

.minor-label
  font-size 90%
  color #999
  font-weight normal

.minor-label-block
  @extend .minor-label
  display block

.row
  margin-bottom 0

.form-group
  margin-bottom 0
  label
    width auto

section
  padding 40px 0
  &.yellow
    background s-yellow
  &.red
    background s-red
  &.odd
    background lighten(secondary, 90%)
  &:first-child
    padding-top 25px
    h1
      margin-top 0
  &.short-padding
    padding 30px 0
  &.instructions
    padding-top 30px
    padding-bottom 20px
    h2
      margin-bottom 0
    
.required-text
  color d-gray
  font-size 110%
  span
    color primary-strong
    font-weight bold
    font-size 15px

.form-control
  margin-bottom 15px

.panel
  margin-bottom 0

.block
  display block
  
.map
  width 100%
  min-height 300px
  background lightblue
  
.no-margin-btm
  margin-bottom 0

a
  cursor pointer

textarea
  display block
  min-width 100%
  min-height 200px
  margin-top 5px
  
.add-subtract
  padding 5px
  font-size 10px
  
.no-padding
  padding 0

.panel-intro
  padding 15px

.form-group.file-upload .btn
  width 100%

.location-info
  .form-group-header,
  .form-group-subHeader
    margin-bottom 12px
    font-size 14px
    font-weight bold
    color #444
  .form-group-subHeader
    color #666
  .form-group
    margin-bottom 15px
  label
    font-size 13px
  .row:last-child,
  .form-group:last-child
      margin-bottom 0
  h5
    color #666

.content-panel
  @extend .no-padding
  border 2px solid border-gray
  .list-group-item
    @extend .no-padding
    border-left 0
    border-right 0
    border-bottom 0
  h3
    font-size 14px
    margin 0
    display inline-block
    font-weight bold
    line-height 1.42857143

  .panel-heading
    background white
    label
      margin-bottom 0

.panel > .list-group
  margin-bottom 0px

.content-block
  padding 20px 15px 0 15px
  font-size 13px
  .list-group-item
    position relative
    &:first-child
      border-top 0
  fieldset
    > div:first-child
      margin-bottom 20px
      label
        display none
      .form-group label
        display block
    legend
      display none
    > div:last-child
      margin-bottom 15px
    div:last-child
      > label
        margin-bottom 0
          
  .autoform-remove-item
    position absolute
    top 20px
    right 0px
    makeButton(#f9f9f9, m-gray, true)
  .form-group.file-upload .btn,
  .form-control
    width 80%
    margin 0
    makeButton(btn-default)
    color white
    font-weight 300
    letter-spacing .03em
  input[type=text].form-control
    background white
    color body-text
    border 1px solid #ccc
    
.file-upload-clear
  display inline-block
  margin-top 5px
  padding-left 5px
  
.add-content
  makeButton(#f9f9f9, d-gray, true, true, body-text)
  @extend .light-shadow
  margin-bottom 15px
  display block
  text-align center
  padding 8px
  width 100%
  border 0
  border-top 1px solid #DDD
  border-bottom 1px solid #DDD
    
.tooltipped
  cursor pointer
  &:hover
    .infoIcon
      color primary-strong

.padded-block
  padding 15px
  background #f9f9f9
  margin-left 0
  margin-right 0
  &:last-child
    border 0

.tall-block
  min-height 300px
.short-block
  min-height 150px

.af-checkbox-group
  .checkbox
    &:last-child
      margin-bottom 0

.study
  section
    &:first-child
      h3
        margin-top 0
  .form-group
    > label
      color #333
      font-weight 600
      font-size 15px
  .file-upload
    margin-top 10px
  .contact
    padding-top 30px

.study-name
  margin-top 20px

.study-link
  &:hover,
  &:focus
    text-decoration none
  .glyphicon
    font-size 70%

.csvUpload
  padding-bottom 20px
  
.csv-file a.btn
    display none

.csv-error
    color primary-strong

.check-list
  .list-group-item
    margin-bottom 15px
  .list-group
    input
      width 100%
      padding-right 25%
    button
      width 20%
      border-left 2px solid border-gray
      border-top-left-radius 0
      border-bottom-left-radius 0

.publication,
.form-grp-container
  .form-group
    margin-bottom 30px
.publication
  .form-group
    float left
    width 40%
    &:last-child
      clear both
      float none
      width 75%
      margin-bottom 0
    .form-group
      width 100%

.file-upload
  .btn,
  label.btn
    makeButton(secondary, white, false, true)
    font-weight normal
    width 60%

.import-table
  .reactive-table-options > div
    margin-top -30px
  table
    margin 20px 0

#toast-container
  pointer-events none

#toast-container > .toast
  opacity 1.0
  pointer-events auto
  a
    color lightblue
  a:hover
    color lightblue
    text-decoration underline

.required
  &::after
    content '*'
    display inline-block
    color primary-strong
    padding-left 2px

.has-error .form-control
  border-color primary-strong
  margin-bottom 0
  
.has-error .help-block
  color primary-strong

.has-error
  label
    color primary-strong

.upload-wrap
  margin-bottom 15px

.upload-file
  vAlign()
  margin-bottom 0

.instructions-link,
.instructions-link-icon
  color d-gray
  &:hover,
  &:focus
    text-decoration none
    outline 0
  span
    vAlign()
    &:first-child
      margin-left 5px
  span.glyphicon
    font-size 120%
    top 0
    
.instructions-link-icon
  padding 0 5px
  font-size 80%

.btn-inline
  vAlign()
  margin-left 20px
  
.name-action
  span
    vAlign()
  span.action
    font-size 70%
    color #3F88A0
    margin-left 15px

#ranavirus-study
  display none

#ranavirus-report
  display none

@media (max-width: 1000px)
  .panel
    .btn,
    button,
      padding 12px
  .input-block
    margin-bottom 45px
    &:last-child
      margin-bottom 0
  .btn-inline
    margin 20px 0 20px 0
    width 25%
    padding 12px
    display block
  .export.btn-inline
    padding 6px 12px
    margin 0 0 0 10px
    display inline-block
    width auto
    
    
@media (max-width: 768px)
  .input-block
    .panel
      margin-left -15px
      margin-right -15px
      border-right 0
      border-left 0
      border-bottom 0
      border-radius 0
      .panel-heading
        background #ebebeb
  input[type="radio"], 
  input[type="checkbox"]
    margin 2px 0 0 0
  .tall-block
    min-height 0
  .short-block
    min-height 0
  .publication
    .form-group
      float none
      width 100%
      &:last-child
        width 100%
  .file-upload
    .btn,
    label.btn
      width 100%
      padding 12px
  h3
    margin-top

  .btn-inline
    width 100%
  
  .name-action
    span.action
      margin-left 0
      display block
      
  .export.btn-inline
    margin 20px 0 20px 0
    padding 12px
    display block
