.navbar
  @extend .dark-shadow
  margin-bottom 0
  background secondary
  border 0
  border-radius 0
  min-height header-height
  .btn,
  .btn-default
    border 0
    margin-left 5px
    text-shadow none
    font-size 13px
    buttonHover(trans-white)
    transition()
    &:focus
      outline primary
      transition()

.navbar-header
  width 100%
  
.nav
  float right

.account
  margin-left 10px

.navbar-nav
  margin-right 10px
  > li > a
    color white
    buttonHover()
    font-size 13px

.navbar-nav .active a
  background white
  color body-text
  text-shadow none
  
.navbar-brand 
  padding 5px 15px
  h1
    margin 0
    color white
    font-weight 600
    text-transform uppercase
    line-height 18px
    font-size 18px
    vAlign()
    padding-left 3px
  span
    @extend .icons
    padding-top 1px
    font-size 35px
    color white
    line-height 0
    vAlign()

.navbar-toggle
  @extend .icons
  float right
  padding 4px
  margin 0
  color white
  font-size 28px
  
@media (max-width: 1000px)
  .navbar-collapse
    .nav
      display none
      visibility hidden
  .navbar-toggle
    display block


@media (max-width: 765px)
  .nav
    float none
    li
      border-bottom l-gray 1px solid
      &:last-child
        border 0
  .navbar-brand
    width 75%
    height auto
  .navbar-nav
    margin-right 0
  .account
    margin-left 0
    button
      width 80%
      margin-top 15px
      margin-bottom 15px
      margin-right auto
      margin-left auto
      padding 15px
      display block
  .navbar .btn, .navbar .btn-default
    margin-left auto

  .navbar-collapse
    padding-right 0