.hero
  background url(images/home-hero.jpg)
  background-size cover
  background-position center center
  min-height 350px
  position relative
  .header
    position absolute
    left 20px
    top 50%
    left 50%
    centerPosition(-50%,-50%)
    z-index 15
.hero-header
  color white
  width 50%
  margin 0
  font-size 375%
  span
    &:first-child
      font-size 145%
      display block
      text-transform uppercase
    &:last-child
      font-weight 700
.mask
  cover()
  background rgba(157, 83, 42, .5)
  z-index 10

.simple-nav
  padding 50px 0
  
  li
    text-align center
  i,
  h2
    transition()
  h2
    font-size 20px
    color primary
  i
    font-size 80px
    display block
    margin-bottom 20px
    color secondary
  a
    transition()
    &:hover,
    &:focus
      text-decoration none
      outline 0
      i,
      h2
        transition()
      i
        color strong-primary
      h2
        color darken(primary, 20%)
      
.home-help
  text-align center
  .btn
    padding 12px 32px

@media (max-width: s-break)
  .hero
    min-height 200px
  .hero-header
    font-size 200%
  .simple-nav
    padding-bottom 20px
    li
      margin-bottom 20px