.hero
  background url(images/home-hero.jpg)
  background-size cover
  background-position center center
  min-height 325px
  position relative
  margin-bottom 25px
  .header
    position absolute
    left 20px
    top 50%
    left 50%
    centerPosition(-50%,-50%)
    z-index 15
    h1
      color white
      width 50%
      margin 0
      span
        &:first-child
          font-size 200%
          display block
          tent-transform uppercase
        &:last-child
          font-weight 700
          font-size 125%
.mask
  cover()
  background RGBA(157, 83, 42, .5)
  z-index 10


@media (m-break)