.page-loading
  text-align center
  color #CCC
  p
    font-size 16px
    font-weight 300
    margin 10px 0 0 0
  .loading
    loading(false)

  &::before
    animate(1.2s)
    font-size 150px
    line-height 150px
    margin-bottom 50px
