sidebar-width = 300px
top-nav-height = header-height

marker-width = 22px
marker-height = 24px
arrow-top = (marker-height * 4 / 5)
arrow-width = (marker-width * 3 / 4)
arrow-height = (arrow-width / 2)

.map-wrap
  position relative

.leaflet-container
  background mapBG

.map-marker
  position relative
  text-align center
  background black
  width marker-width
  height marker-height
  border-radius 50%
  // Shift marker position so it points to the correct location
  margin-top (-(arrow-top + arrow-height))
  margin-left (-(marker-width / 2))
  box-shadow inset 0 3px 3px white, 1px 5px 1px rgba(0,0,0,.5)

.map-marker .arrow
  position relative
  border-left arrow-height solid transparent
  border-right arrow-height solid transparent
  border-top (marker-width / 2) solid black
  top arrow-top
  left ((marker-width - arrow-width) / 2)
  width 0
  height 0

.vis-container
  position absolute
  left 0
  right 0
  top top-nav-height
  bottom footer-height

.vis-map
  width 100%
  height 100%

.leaflet-bar
  box-shadow 0 1px 5px rgba(0,0,0,0.3)

.leaflet-top, .leaflet-bottom
  z-index 100

.leaflet-bar a, .leaflet-bar a:hover
  background rgba(255,255,255,.8)

@media (max-width: 768px)
  .vis-container
    bottom footer-height-mobile
  .leaflet-container .leaflet-control-attribution, 
  .leaflet-container .leaflet-control-scale
    max-width 70%
    font-size 8px