sidebar-width = 300px
top-nav-height = header-height

marker-width = 22px
marker-height = 32px
arrow-top = (marker-height * 4 / 5)
arrow-width = (marker-width * 3 / 4)
arrow-height = (arrow-width / 2)

.map-wrap
  position relative

.leaflet-container
  background mapBG

.map-marker
  position relative
  text-align center
  // Shift marker position so it points to the correct location
  margin-top (-(arrow-top + arrow-height))
  margin-left (-(marker-width / 2))
  text-shadow 0px 2px 5px rgba(0,0,0,.1)
  &::before
    content 'm'
    display block
    font-family icons
    font-size marker-height
  &:hover
    &::before
      color secondary

.map-marker .arrow
  position relative
  border-left arrow-height solid transparent
  border-right arrow-height solid transparent
  border-top (marker-width / 2) solid black
  top arrow-top
  left ((marker-width - arrow-width) / 2)
  width 0
  height 0

.badge
  background none
  &::before
    @extend .icons
    content 'm'
    display block
    font-size 24px
    position absolute
    top 50%
    right 10px
    centerPosition(0,-50%)
  &:empty
    display block

.vis-container
  position absolute
  left 0
  right 0
  top top-nav-height
  bottom footer-height

.vis-map
  width 100%
  height 100%

.leaflet-bar,
.leaflet-popup-content-wrapper, 
.leaflet-popup-tip
  box-shadow 0 1px 5px rgba(0,0,0,0.3)

.leaflet-container .leaflet-control-attribution, 
.leaflet-container .leaflet-control-scale
  @extend .open-sans  
  
.leaflet-popup-content-wrapper
  border-radius 5px

.leaflet-bar a, .leaflet-bar a:hover
  background rgba(255,255,255,.8)

.leaflet-popup-content-wrapper
  background rgba(255,255,255,.9)


.leaflet-bar a, 
.leaflet-bar a:hover
  color primary

.map-popup
  color body-text
  font-size 14px
  @extend .open-sans
  h2
    font-size 20px
    margin 0 0 5px 0
  .date
    display block
    color d-gray
    margin-bottom 10px
  dd
    margin-bottom 5px

.leaflet-container a.leaflet-popup-close-button
  @extend .icons
  
@media (max-width: 768px)
  .vis-container
    bottom footer-height-mobile
  .leaflet-container .leaflet-control-attribution, 
  .leaflet-container .leaflet-control-scale
    max-width 70%
    font-size 8px
