transition(time = .2s, prop = )
  transition: time prop
  
makeButton(color, text = white, dark = false, noOutline = false)
  if dark 
    @extend .light-shadow
  else 
    @extend .dark-shadow
  background color
  color text
  border 1px solid darken(color, 10%)
  &:hover,
  &:focus
    background darken(color, 10%)
    color darken(text, 20%)
    border-color darken(color, 20%)
  &:active
    background darken(color, 20%)
  &:focus
    outline 5px auto lighten(btn-default, 20%)
  transition()
  if noOutline
    &:focus
      outline 0

animate(speed)
  animation spin speed infinite linear
  -webkit-animation spin speed infinite linear
  -moz-animation spin speed infinite linear
  -o-animation spin speed infinite linear

@keyframes spin
  0% 
    transform rotate(0deg)
  100% 
    transform rotate(360deg)
@-webkit-keyframes spin
  0%
    -webkit-transform rotate(0deg)
  100% 
    -webkit-transform rotate(360deg)
@-moz-keyframes spin
  0%
    -moz-transform rotate(0deg)
  100% 
    -moz-transform rotate(360deg)
@-o-keyframes spin
    -o-transform rotate(0deg)
  100% 
    -o-transform rotate(360deg)
