h1
    color blue

.vis-map
    width 100%
    height 500px

.hidden-label
    display none
    
#login-buttons
    padding-right 100px

// Remove leaflet styles
.btn-primary.btn-edit
    color white
