h1
    color blue

.hidden-label
    display none

sidebar-width = 300px
top-nav-height = 52px

.vis-map-container
    position absolute
    left 0
    right 0
    top top-nav-height
    bottom 0
    padding-left sidebar-width

.vis-map
    width 100%
    height 100%

#filter-panel
    position absolute
    left 0
    width sidebar-width
    z-index 200
    background-color white
    border 1px solid lightgray
    padding 5px
    border-radius 5px
    max-height 100%
    overflow-y auto
    overflow-x hidden

marker-width = 22px
marker-height = 24px
arrow-top = (marker-height * 4 / 5)
arrow-width = (marker-width * 3 / 4)
arrow-height = (arrow-width / 2)
.map-marker {
  position relative
  text-align center
  background black
  width marker-width
  height marker-height
  border-radius 50%
  // Shift marker position so it points to the correct location
  margin-top (-(arrow-top + arrow-height))
  margin-left (-(marker-width / 2))
  box-shadow inset 0 3px 3px white, 1px 5px 1px rgba(0,0,0,.5)
}
.map-marker .arrow {
  position relative
  border-left arrow-height solid transparent
  border-right arrow-height solid transparent
  border-top (marker-width / 2) solid black
  top arrow-top
  left ((marker-width - arrow-width) / 2)
  width 0
  height 0
}

.hidden-label
    display none

#login-buttons
    padding-right 100px

.csv-file a.btn
    display none

.csv-error
    color red

// Remove leaflet styles
.btn-primary.btn-edit
    color white

.controls
    width 150px
