h1
    color blue

.hidden-label
    display none

.vis-table
    padding 20px

.hidden-label
    display none

#login-buttons
    padding-right 100px

.csv-file a.btn
    display none

.csv-error
    color red

// Remove leaflet styles
.btn-primary.btn-edit
    color white

.controls
    width 160px

.add-report
  margin-bottom 10px

.review-panel
    right 100px
    bottom 0px
    position fixed
    width 340px
    z-index 1000
    .review-panel-header
        padding 4px 10px
        background-color #222
        color white
        line-height 26px
        border-radius 5px 5px 0 0
        font-weight bold
        font-size 1.2em
    .review-content
        background-color white
        border 1px solid gray
        max-height 600px
        overflow-y auto
