.review-panel
  display none
  position fixed
  left 50% 
  bottom 0px
  transform translate(-50%,0)
  min-width 600px
  z-index 5000
  
  .review-panel-header
    padding 4px 10px
    background-color #222
    color white
    line-height 26px
    border-radius 5px 5px 0 0
    font-weight bold
    font-size 1.2em
  .review-content
    background-color white
    border 1px solid gray
    max-height 600px
    overflow-y auto
