.table > tbody > tr > td
  vertical-align middle

.reactive-table-options
  width 100%
  margin-bottom 15px
  padding 0
  float right !important
  &::after
    clearFix()

.pull-right > .dropdown-menu
  left 0

.reactive-table-columns-dropdown
  float left !important
  padding 0
  width 100%
  button
    float right !important
    
.reactive-table-filter
  width 33%
  padding 0

.table-wrap
  .reactive-table-options
    display none