.ui-tooltip
  max-width 30%
  padding 10px
  background ll-gray
  box-shadow 3px 3px 10px rgba(100,100,100,.3)

.popover
  min-width 400px

@media (max-width: 765px)
  .popover
    min-width 200px
    max-width 300px
    