strong-primary = #E85F40
primary = #9D532A
primary-subtle = #AD7958
secondary = #3F88A0
dd-gray = #333
d-gray = #999
ll-gray = #f9f9f9
l-gray = #e7e7e7
m-gray = #CCC
btn-default = #377BB5
trans-white = rgba(255,255,255,.7)

header-footer-BG = primary-subtle

border-gray = #DDD
body-text = dd-gray
mapBG = #CDD2D4

header-height = 50px
footer-height = 75px
footer-logo-height = 55px
footer-padding = (75px - footer-logo-height) / 2
footer-height-actual = footer-height
footer-height-mobile-actual = footer-height*2
footer-height = footer-height+footer-padding
footer-height-mobile = footer-height*2