template(name="banner")
  .fluid-container.banner.banner-hidden
    .container
      p
        i.fa.fa-exclamation-triangle
        span The GRRS is in beta testing and data entered will not be retained.
