template(name="footer")
  footer
    .container.footer
      .logo.mantle
        p powered by
        h1 Mantle
      .logo.eha
        a(href="http://ecohealthalliance.org")
          h2 EcoHealth Alliance
