template(name="footer")
  footer
    .container.footer
      .logos
        .logo.mantle
          p powered by
          h1 Mantle
        .logo.eha
          a(href="http://ecohealthalliance.org")
            h2 EcoHealth Alliance
      nav.footer-nav
        ul.list-unstyled.list-inline
          li
            a(href="/help/") Help
          li
            a(href="mailto:ranavirus-reporting-support@googlegroups.com") Contact Us