template(name='gmapForm')

  +autoForm(
    collection='collections.Reports'
    id='gmapForm'
    type='insert'
    validation='blur'
  )

    .col-md-6
      .form-group
        h3.form-group-header Location

        h4.form-group-header Degrees Decimal
        .col-md-6
          +afQuickField name='lon' id='lon'
        .col-md-6
          +afQuickField name='lat' id='lat'

        h4.form-group-header Universal Transverse Mercator
        .col-md-4
          +afQuickField name='easting' id='easting'
        .col-md-4
          +afQuickField name='northing' id='northing'
        .col-md-4
          +afQuickField name='zone' id='zone'

    .col-md-6
      +gmap


template(name='gmap')
  div
    input#gmap-search.map-controls(type='text')
    div#gmap-canvas
    a#gmap-locate.btn.btn-default
      i.fa.fa-map-marker
      | My location
