template(name="groupByControls")
  select#group-by.form-control
    option(value="" default) Group By
    each groups
      if selected
        option(value=value selected) {{label}}
      else
        option(value=value) {{label}}