template(name="header")
  header
    nav.navbar
      .fluid-container
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type="button", data-toggle="collapse" data-target=".navbar-collapse") =
            a.navbar-brand(href="/")
              span M
              h1 Ranavirus #[br] Reporting System
          .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              +navLinks

template(name="navLinks")
  li
    a(href="/study") Add Study
  li
    a(href="/studies") View Studies
  li
    a(href="/map") Map
  li
    a(href="/table") View Reports

  li.main-nav-last
    a(href="/group/rana/info") About Ranavirus
  
  if currentUser
    li.nav-icon.dropdown
      a.dropdown-toggle.admin-settings(href="#" data-toggle="dropdown" aria-expanded="false")
        i.fa.fa-gear
      ul.dropdown-menu(role="menu")
        li
          a(href="/help")
            i.fa.fa-info-circle
            span Help
        if isInRole 'admin' groupId
          li
            a(href="/group/rana") 
              i.fa.fa-group
              span Group Admin
        +accountsHeaderButtons
  else
    li
      a(href="/help") Help
    li
      a(href="{{pathFor route='atSignIn'}}" class="sign-in navbar-btn")
        span Sign In 
        i.fa.fa-sign-in
