template(name="help")
  section
    .container.help
      h1 Help

      each videos
        h2 #{title}
        iframe(width="560" height="315" src="https://www.youtube.com/embed/#{videoID}" frameborder="0" allowfullscreen)