template(name="home")
  .hero
    .mask
    .container.header
      h1.hero-header
        span Ranavirus
        span Reporting System
  .container
    p Welcome
    p For help getting started, visit #[a ] a(href="{{pathFor route='help'}}")

