template(name="home")
  .hero
    .mask
    .container.header
      h1.hero-header
        span Ranavirus
        span Reporting System
  .container
    ul.row.simple-nav.list-unstyled
      li.col-sm-3.col-xs-6
        a(href="/study")
          i.fa.fa-plus-square
          h2 Add a Study          
      li.col-sm-3.col-xs-6
        a(href="/studies")
          i.fa.fa-file-text-o
          h2 View Studies
      li.col-sm-3.col-xs-6
        a(href="/table")
          i.fa.fa-file-text
          h2 View Reports  
      li.col-sm-3.col-xs-6
        a(href="/map")
          i.fa.fa-map-marker
          h2 Map
    .home-help
      h2 Need Help?
      a(href="{{pathFor route='help'}}").btn.btn-default View instructional videos
