<template name="info">
{{#markdown}}
### Information to Be Provided on the website:

- Historical Vertebrate Ranavirus reference list or links to one hosted at the GRC website has references from the 1960s to 2010
- Post-2011 references will be linked to at the GRC site that is kept up by Dr. M. Gray
  **Is this the references list? http://www.ranavirus.org/resources/sample-page/**
- Ranavirus Experts list and OIE/Government Lab contact info?
	- Expert list will be linked to the GRC
	  **TODO: Is this the experts list? http://www.ranavirus.org/resources/members/**
	- Reference Lab information/Area Expert Information – maybe best to link to the OIE site
		**TODO: Check link: http://www.oie.int/en/our-scientific-expertise/reference-laboratories/list-of-laboratories/**
- Links to SEPARC information sheets and PARC
	- Especially the one on disinfection protocols
	- Amanda Duffus is looking over the sheets to see if they need to be updated.
	- [SEPARC information sheets link??](http://www.separc.org/products/diseases-and-parasites-of-herpetofauna)
	- [PARC link??](http://parcplace.org/)
- Tested screening methods. 
	- Amanda Duffus is working on writing this up.
	- **TODO: Email Amanda about this and the Necropsy guide below**
- Pictures of infected animals and descriptions of the disease
  **TODO: Who provides these? We need images we have the rights to**
- Necropsy guide (based on the one that Amanda Duffus and Deb Miller wrote for amphibians and reptiles.)
	- Final two points will probably be on the PARC website and links provided.
	
{{/markdown}}
</template>