template(name="info")
  section
    .container
      h3 Ranavirus Information
      ul
        li 
          a(href="http://www.ranavirus.org/resources/sample-page/") Historical vertebrate Ranavirus reference list
        li
          a(href="http://www.ranavirus.org/resources/testing-labs/") List of laboratories that test for ranavirus
        li
          a(href="http://parcplace.org/") PARC: Partners in Amphibian and Reptile Conservation website
        li
          a(href="http://www.separc.org/products/diseases-and-parasites-of-herpetofauna") SEPARC information sheets (in transition)
