head
  title Ranavirus reporting
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,800"
    rel="stylesheet" type="text/css")
  link(rel="shortcut icon" type="image/png"  href="/images/favicon.png")


template(name="layout")
  .page-wrap
    +demoBanner
    +header
    .content-wrap        
      .fluid-container
          +yield
    +footer

