head
  title Ranavirus reporting
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,800'
    rel='stylesheet' type='text/css')
  link(rel="shortcut icon" type="image/png"  href="images/favicon.png")


template(name="layout")
    header
      nav.navbar
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse' data-target=".navbar-collapse")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            .navbar-brand Ranavirus Reporting System
          
          .collapse.navbar-collapse.navbar-right
            ul.nav.navbar-nav
              +navLinks
            
    .fluid-container
        +yield

    footer
      .container.footer
        .logo.mantle
          p powered by
          h1 Mantle
        .logo.eha
          a(href="http://ecohealthalliance.org")
            h2 EcoHealth Alliance

template(name="navLinks")
  li
    a(href="/study") New Study
  li
    a(href="/studies") All Studies
  li
    a(href="/map") Report Map
  li
    a(href="/table") Report Table
  li
    a(href="/group/rana/info") About Ranavirus

  +accountsHeaderButtons

