head
  title Ranavirus reporting

template(name="layout")
  body

    .navbar.navbar-inverse.navbar-fixed.top
        .container
            .navbar-header
              a.navbar-brand Ranavirus
            ul.nav.navbar-nav
              li
                a(href="/") Form
              li
                a(href="/map") Map

    .container
        +yield
