head
  title Ranavirus reporting

template(name="layout")
  body

    .navbar.navbar-inverse.navbar-fixed.top
        .container
            .navbar-header
                a.navbar-brand Ranavirus
            .navbar-right
                +atNavButton

    .container
        +yield
