head
  title Ranavirus reporting
  script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false&libraries=places")

template(name="layout")
  body

    .navbar.navbar-inverse.navbar-fixed.top
        .container
            .navbar-header
              a.navbar-brand Ranavirus Reporting System
            ul.nav.navbar-nav
              li
                a(href="/") Report Form
              li
                a(href="/map") Map of Reports
              li
                a(href="/info") Ranavirus Information
    .container
        +yield
