head
  title Ranavirus reporting

template(name="layout")
  body

    .navbar.navbar-inverse.navbar-fixed.top
        .container
            .navbar-header
                a.navbar-brand Ranavirus
            .navbar-right
                a.btn.btn-default(href="{{pathFor route='profile'}}") Edit Profile
                +atNavButton

    .container
        +yield
