head
  title Ranavirus reporting
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,800'
    rel='stylesheet' type='text/css')

template(name="layout")
  body
    .navbar.navbar-inverse.navbar-fixed.top
        .container
            .navbar-header
              a.navbar-brand Ranavirus Reporting System
            ul.nav.navbar-nav
              li
                a(href="/study") New Study
              li
                a(href="/report") New Report
              li
                a(href="/map") Report Map
              li
                a(href="/table") Report Table
              li
                a(href="/info") Ranavirus Information
            .navbar-right
                +accountsHeaderButtons

    .fluid-container
        +yield
