head
  title Ranavirus reporting
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,800'
    rel='stylesheet' type='text/css')
  link(rel="shortcut icon" type="image/png"  href="images/favicon.png")


template(name="layout")
  .page-wrap
    header
      nav.navbar
        .fluid-container
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse' data-target=".navbar-collapse") =
              .navbar-brand 
                span M
                h1 Ranavirus #[br] Reporting System
            .navbar-collapse.collapse
              ul.nav.navbar-nav.navbar-right
                +navLinks
    .content-wrap        
      .fluid-container
          +yield

    footer
      .container.footer
        .logo.mantle
          p powered by
          h1 Mantle
        .logo.eha
          a(href="http://ecohealthalliance.org")
            h2 EcoHealth Alliance

template(name="navLinks")
  li
    a(href="/study") Add Study
  li
    a(href="/studies") View Studies
  li
    a(href="/map") Map
  li
    a(href="/table") View Reports
  li.main-nav-last
    a(href="/group/rana/info") About Ranavirus

  +accountsHeaderButtons

