template(name="map")
  .vis-container
    #control-panel
      +groupByControls var=groupBy
      if groups.length
        .panel.panel-default
          .panel-heading
            h3.panel-title Groups
          .panel-body
            ul.list-group
              each groups
                li.list-group-item
                  span.badge(style="background-color:#{color};") &nbsp;
                  if name
                    | #{name}
                  else
                    i [ empty ]
      +filterControls query=query
    .vis-map

