template(name="map")
  .vis-container
    .vis-map
    #control-panel
      a.toggle-group.toggler(href="#") Group
      .group-wrap.hidden
        +groupByControls var=groupBy
        if groups.length
          .panel.panel-default
            .panel-heading
              h3.panel-title Groups
            .panel-body
              ul.list-group
                each groups
                  li.list-group-item
                    span.badge(style="color:#{color};")
                    if name
                      | #{name}
                    else
                      i [ empty ]
      a.toggle-filter.toggler(href="#") Filter
      .map-filters.hidden
        +filterControls query=query

