template(name='mapForm')

  +autoForm(
    collection='collections.Mappings'
    id='gmapForm'
    type='insert'
    validation='blur'
  )

    +afQuickField name='test'

    +afQuickField name='locationGoogle'

    +afQuickField name='locationLeaflet'

    .btn-group
      button(class='map-submit', type='submit', class="btn btn-primary") Submit
      button(class='map-reset', type='reset', class="btn") Reset
