<!-- https://github.com/aldeed/meteor-autoform/blob/dc10a1366a69bf734eab736dd9748f8007ded7db/templates/bootstrap3/bootstrap3.html -->

<template name="afFormGroup_rana">
  <div class="form-group{{#if afFieldIsInvalid name=this.atts.name}} has-error{{/if}}">
    {{#unless skipLabel}}
    <label {{tooltipAtts}}>{{#if this.label}}{{this.label}}{{else}}{{afFieldLabelText name=this.atts.name}}{{/if}}
      {{#if minorLabelBlockText this.atts.name}}<span class="minor-label block">{{minorLabelBlockText this.atts.name}}</span>{{/if}}
    </label>
    {{/unless}}
    {{> afFieldInput this.afFieldInputAtts}}
    <span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
  </div>
</template>

<template name="afObjectField_rana">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{afFieldLabelText name=this.atts.name}}</h3>
    </div>
    <div class="panel-body">
      {{#if afFieldIsInvalid name=this.atts.name}}
      <span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
      {{/if}}
      {{> afQuickFields name=this.atts.name}}
    </div>
  </div>
</template>

<template name="afArrayField_rana">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>{{afFieldLabelText name=this.atts.name}}
        {{> tooltip name=this.atts.name}}
      </h3>
    </div>
    {{#if afFieldIsInvalid name=this.atts.name}}
    <div class="panel-body has-error">
      <span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
    </div>
    {{/if}}
    <ul class="list-group">
      {{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
      <li class="list-group-item autoform-array-item">
        <div class="media">
          {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
          <button type="button" class="btn btn-primary autoform-remove-item pull-left"><span class="glyphicon glyphicon-minus"></span></button>
          {{/if}}
          <div class="media-body">
            {{> afQuickField name=this.name label=false options="auto"}}
          </div>
        </div>
      </li>
      {{/afEachArrayItem}}
      {{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
      <li class="list-group-item">
        <button type="button" class="btn btn-primary autoform-add-item" data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}" data-autoform-maxCount="{{this.atts.maxCount}}"><span class="glyphicon glyphicon-plus"></span></button>
      </li>
      {{/if}}
    </ul>
  </div>
</template>

<template name="afCheckboxGroup_rana">
  <div class="af-checkbox-group" {{dsk}}>
    {{#each this.items}}
      <div class="checkbox">
        <label>
          <input type="checkbox" value="{{this.value}}" {{atts}} />
          <span {{tooltipAtts}}>{{this.label}}</span>
        </label>
      </div>
    {{/each}}
  </div>
</template>

<template name="afRadioGroup_rana">
  <div class="af-radio-group" {{dsk}}>
    {{#each this.items}}
      <div class="radio">
        <label>
          <input type="radio" value="{{this.value}}" {{atts}} />
          <span {{tooltipAtts }}>{{this.label}}</span>
        </label>
      </div>
    {{/each}}
  </div>
</template>

<template name="afBooleanRadioGroup_rana">
  <div {{dsk}}>
    <div class="radio">
      <label><input type="radio" value="false" name="{{this.name}}" {{falseAtts}} /> {{#with this.atts.falseLabel}}{{this}}{{else}}False{{/with}}</label>
    </div>
    <div class="radio">
      <label><input type="radio" value="true" name="{{this.name}}" {{trueAtts}} /> {{#with this.atts.trueLabel}}{{this}}{{else}}True{{/with}}</label>
    </div>
  </div>
</template>

<template name="afSelect_rana">
  <select {{atts}}>
    {{#each this.items}}
      {{#if this.optgroup}}
        <optgroup label="{{this.optgroup}}">
        {{#each this.items}}
        <option {{optionAtts}}>{{this.label}}</option>
        {{/each}}
        </optgroup>
      {{else}}
        <option {{optionAtts}}>{{this.label}}</option>
      {{/if}}
    {{/each}}
  </select>
</template>

<template name="afTextarea_rana">
  <textarea {{atts}}>{{this.value}}</textarea>
</template>

<template name="afInputText_rana">
  <input type="text" value="{{this.value}}" {{atts}} {{fakeAtts}}/>
</template>

<template name="afInputDate_rana">
  <input type="date" value="{{this.value}}" {{atts}}/>
</template>

<template name="afInputNumber_rana">
  <input type="number" value="{{this.value}}" {{atts}}/>
</template>

<template name="afInputEmail_rana">
  <input type="email" value="{{this.value}}" {{atts}}/>
</template>

<template name="afInputTel_rana">
  <input type="tel" value="{{this.value}}" {{atts}}/>
</template>
