template(name="reportForm")

  +autoForm id="ranavirus-report" collection="collections.Reports" type="insert" doc=reportDoc

    .container-fluid.report-form
      form

        .panel.panel-default.form-input-block
          .panel-heading
            h2.panel-title Event Date and Location
          .panel-body
            .row
              .col-lg-12
                +afQuickField name="eventDate"
                +afQuickField name="eventLocation"

        .row.form-input-block
          .col-lg-4
            +afQuickField name="populationType"
          .col-lg-4
            +afQuickField name="screeningReason"
          .col-lg-4
            +afQuickField name="vertebrateClasses"

        .panel.panel-default.form-input-block
          .panel-heading
            h2.panel-title Species Information
          .panel-body
            .row
              .col-lg-6
                +afQuickField name="speciesGenus"
                +afQuickField name="speciesName"
                +afQuickField name="numInvolved"
              .col-lg-6
                +afQuickField name="speciesNotes"

        .row.form-input-block
          .col-lg-3
            +afQuickField name='ageClasses'
          .col-lg-4
            +afQuickField name='ranavirusConfirmMethods'
            if afFieldValueContains name='ranavirusConfirmMethods' value='other'
              +afQuickField name='specifyOtherRanavirusConfirmationMethods'
          .col-lg-4
            +afQuickField name='sampleType'
            if afFieldValueContains name='sampleType' value='other'
              +afQuickField name='specifyOtherRanavirusSampleTypes'

        .row.form-input-block
          .col-lg-4
            +afQuickField name='totalAnimalsTested'
          .col-lg-4
            +afQuickField name='totalAnimalsConfirmedInfected'
          .col-lg-4
            +afQuickField name='totalAnimalsConfirmedDiseased'

        .row.form-input-block
          .col-lg-4
            +afQuickField name='pathologyReports' id='pathologyReports'
          .col-lg-4
            +afQuickField name='images' id='images'
          .col-lg-4
            +afQuickField name='genBankAccessionNumbers' id='genBankAccessionNumbers'

      .row.form-input-block
        .col-lg-8
          +afQuickField name='additionalNotes'

      .row
        .col-lg-4
          .form-group
            button.btn-lg.btn.btn-primary.btn-block(type='submit') Submit
