template(name="selectImportStudy")
  section.rm-pad-btm.odd
    .container.name-action.title
      h1 Select a Study to Import Into
  section
    .container.studies.table-wrap
      +reactiveTable collection="studies" settings=settings
