
template(name="contactInfo")
  .container
    .row
      .col-md-3.space-btm
        h3 Contact person info
        +afQuickField name='contact.name'
        +afQuickField name='contact.email' placeholder='name@domain.com'
        +afQuickField name='contact.phone' minor='(Must include the country code)'

      .col-md-8.col-md-offset-1
        +address

template(name="address")
  h3 Reporting institution, diagnostic lab or government agency info
  .row
    .col-sm-6
      +afQuickField name="contact.institutionAddress.name"
  .row
    .col-sm-6
      +afQuickField name="contact.institutionAddress.street"
    .col-sm-6
      +afQuickField name="contact.institutionAddress.street2"
  .row
    .col-sm-4
      +afQuickField name="contact.institutionAddress.city"
    .col-sm-4
      +afQuickField name="contact.institutionAddress.stateOrProvince"
    .col-sm-2
      +afQuickField name="contact.institutionAddress.postalCode"
  .row
    .col-sm-6
      +afQuickField name="contact.institutionAddress.country"

template(name="populationInfo")
  section.odd
    .container
      .row.form-input-block
        .col-sm-3.input-block
            +afQuickField name="populationType"
        .col-sm-3.input-block
            +afQuickField name="speciesAffectedType"
        .col-sm-3.input-block
            +afQuickField name="screeningReason"
        .clearfix.visible-xs-block
        .col-sm-3.input-block
            +afQuickField name="vertebrateClasses"

template(name="species")
  section
    .container
      h3 Affected Species
      .row.form-input-block
        .col-sm-4
          +afQuickField name="speciesGenus"
          +afQuickField name="speciesName"
          if numInvolved
            +afQuickField name="numInvolved"
        .col-sm-7.col-sm-offset-1
          +afQuickField name="speciesNotes"

template(name="notes")
  section
    .container
      .row
        .col-sm-9
          +afQuickField name='additionalNotes' id='additionalNotes'

template(name="permissions")
  section.rm-pad-top
    .container
      h3 Permissions and Consent
      .row.form-input-block
        .col-sm-6.input-block
          +afQuickField name='dataUsePermissions' id='dataUsePermissions'
        .col-sm-6.input-block
          +afQuickField name='consent' id='consent'

template(name="submit")
  .container
    .row
      .col-sm-4
        .form-group
          button.btn-lg.btn.btn-success.btn-block(type='submit') Submit

template(name="classesMethods")
  section.odd
    .container
      .row.form-input-block
        if report
          .col-sm-8.input-block
            +classesMethodsInputs
          .col-sm-4
              +afQuickField name='totalAnimalsTested'
              +afQuickField name='totalAnimalsConfirmedInfected'
              +afQuickField name='totalAnimalsConfirmedDiseased'
        else
          .col-sm-12.input-block
            +classesMethodsInputs

template(name="classesMethodsInputs")
  .row
    if report
      .col-sm-3.input-block.check-list
        +afQuickField name='ageClasses'
    else
      .col-sm-4.input-block.check-list
        +afQuickField name='ageClasses'
    if report
      .col-sm-5.input-block.check-list
        +confirmMethods
    else
      .col-sm-4.input-block.check-list
        +confirmMethods

    .col-sm-4.input-block.check-list
        +afQuickField name='sampleType'
        if afFieldValueContains name='sampleType' value='other'
          +afQuickField name='specifyOtherRanavirusSampleTypes'

template(name="confirmMethods")
  +afQuickField name='ranavirusConfirmationMethods'
  if afFieldValueContains name='ranavirusConfirmationMethods' value='other'
    +afQuickField name='specifyOtherRanavirusConfirmationMethods'