template(name="studyForm")

  +autoForm(
    collection="collections.Studies"
    type="insert"
    id="ranavirus-import"
    doc=importDoc
  )
    .report-form.study
      section.rm-pad-btm
        .container
          .row
            .col-lg-4
              +afQuickField name='name'

      +csvUpload

      section.instructions
        .container
          h2 Please fill out any of the following fields that apply to all reports in this study.
          p <span>*</span> Indicates required field

      section.rm-pad-top
        .container
          .row
            .col-sm-3.space-btm
              h3 Contact person info
              +afQuickField name='contact.name'
              +afQuickField name='contact.email' placeholder='name@domain.com'
              +afQuickField name='contact.phone' minor='(Must include the country code)'

            .col-sm-8.col-sm-offset-1
              +address

      +populationInfo

      +species

      section.odd
        .container
          .row.form-input-block
            .col-sm-12.input-block
              .row
                .col-sm-4.input-block
                    +afQuickField name='ageClasses'
                .col-sm-4.input-block
                    +afQuickField name='ranavirusConfirmMethods'
                    if afFieldValueContains name='ranavirusConfirmMethods' value='other'
                      +afQuickField name='specifyOtherRanavirusConfirmationMethods'
                .col-sm-4.input-block
                    +afQuickField name='sampleType'
                    if afFieldValueContains name='sampleType' value='other'
                      +afQuickField name='specifyOtherRanavirusSampleTypes'

      +notes

      +permissions

      section.rm-pad-top.form-grp-container.publication
        .container
          +afQuickField name='publicationInfo' id='publicationInfo'

      +submit
