template(name="table")
  section
    .container.reports-table
      .filter-controls
        +filterControls query=query
      .row
        .filter-wrap.col-sm-
        .table-wrap.col-sm-9
          if isEmpty
            h2 No Reports Found
          else
            +reactiveTable collection=collection settings=settings
