template(name="table")
  section
    .container.reports-table
      button.toggle-filter.positioned.btn.btn-primary(href="#") Filter Table 
      .filter-controls.table-filters.hidden
        +filterControls query=query table=true
      if isEmpty
        h2 No Reports Found
      else
        +reactiveTable collection=collection settings=settings
