template(name="table")
  section
    .container.reports-table
      button.toggle-filter.btn.btn-primary.btn-block(href="#") Filter Table 
      button.export.btn.btn-primary.btn-block(href="#") Export
      .filter-controls.table-filters.hidden
        +filterControls query=query
      +reactiveTable collection="reports" settings=settings filters=filters

template(name="noReports")
  h2 No Reports Found