template(name="table")
  .vis-container
    #control-panel
      +filterControls query=query
    .vis-table
      if isEmpty
        h2 No Reports Found
      else
        +reactiveTable collection=collection settings=settings
