template(name="table")
  section
    .container.reports-table
      button.toggle-filter.btn.btn-primary(href="#") Filter Table 
      .filter-controls.hidden
        +filterControls query=query
      if isEmpty
        h2 No Reports Found
      else
        +reactiveTable collection=collection settings=settings
