template(name="terms")
  section.terms
    .container
      h1 Disclaimer

      h2 Use of Data:
      p The Global Ranavirus Reporting System (GRRS) is a public domain database created for the purpose of education and scientific investigation.  These data are not confirmed as official results.  The GRRS does not offer any warranty or representation, expressed or implied, about data accuracy, completeness, or appropriateness for a particular purpose. You assume full responsibility for using GRRS data or information presented on its website. You understand and agree that neither GRRS nor its Partners are responsible or liable for any claim, loss or damage resulting from the use of the GRRS website.

      h2 No Regulatory Authority:
      p The GRRS has no regulatory authority, and submitting data to it does not constitute an official pathogen-reporting record.  Inasmuch as all ranaviruses that infect amphibians and Epizootic haematopoietic necrosis virus (a species of Ranavirus that infects fish) are listed as notifiable pathogens by the
        a(href='http://www.oie.int/international-standard-setting/aquatic-code/') World Organization for Animal Health
        | (OIE), you must check with the appropriate regulatory agency in your country to determine if the data you submit must be officially reported to your government.